/*** Box service product ***/
.box-service-product .header-box-service-product {
    background: #f6f6f6;
    border-top: 1px solid #e0e0e0;
    padding: 10px;
}

    .box-service-product .header-box-service-product .title {
        font-size: 15px;
        font-weight: bold;
        color: #f77705;
    }

    .box-service-product .header-box-service-product .content {
        font-size: 13px;
        color: #666;
    }

.border-service-product {
    padding: 10px 0;
}

.box-service-product .content-box-service-product .title {
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

.box-service-product .content-box-service-product .content {
    font-size: 12px;
    color: #666;
}
/*** End box service product ***/
.information-product .product-title h1 {
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
.information-product .product-price del {
    color: #7d7d7d;
    font-size: 16px;
}
.information-product .product-price span {
    color: #d60808;
    font-size: 30px;
    margin-right: 10px;
}

.information-product .product-price del {
    color: #7d7d7d;
    font-size: 16px;
}
/*** Media ***/
.selector-wrapper.opt1, .selector-wrapper.opt2, .select-wrapper.clearfix {
    display: flex;
    font-size: 14px;
}

    .select-wrapper.clearfix label {
        margin-top: 15px;
        margin-right: 4px;
    }

@media ( max-width: 767px ) {
    .slider_new_web .owl-controls .owl-prev {
        position: absolute;
        top: 50%;
        left: -18px;
    }

    .slider_new_web .owl-controls .owl-next {
        position: absolute;
        top: 50%;
        right: -17px;
    }

    .style_nut_nut3 {
        font-weight: 500;
        height: 48px;
        width: 25%;
        padding-left: 4px;
        margin-left: 0;
        color: #cf0000;
        background: #fff;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 10px;
        border: 0;
        border-right: 1px solid #ccc;
    }

    .style_nut_nut2 {
        font-weight: 500;
        height: 48px;
        width: 25%;
        padding-left: 20px;
        color: #cf0000;
        background: #fff;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 10px;
        border: 0;
    }

    .style_nut_nut {
        font-weight: 500;
        height: 48px;
        width: 49%;
        border: 1px solid red;
        color: #ffffff;
        background: #cf0000;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
        float: right;
    }

    .icon_phone_add_new {
        text-align: center;
        position: fixed;
        bottom: -10px;
        z-index: 99999;
        width: 100%;
        background: #fff;
        box-shadow: 1px 0px 6px #000;
    }
    /* Css Chung */
    .pd5.col-xs-12 {
        //padding: 0px 5px;
    }

    .mTS_horizontal ul.mTSContainer > li {
        max-width: 100px;
    }

    #map_canvas iframe {
        width: 100%;
        height: 300px;
    }

    .zoomContainer {
        display: none;
    }

    .btn-loading {
        width: 100%;
    }

    #table-cart td strong {
        float: left;
        width: 100%;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    nav.navbar-main.navbar {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
        position: fixed !important;
        width: 100%;
        z-index: 999;
        top: 0;
    }

    main {
        padding-top: 70px;
    }

    .product-wrapper:nth-child(2n + 1),
    .box-banner-index:nth-child(2n + 1) {
        padding-right: 5px;
    }

    .product-wrapper:nth-child(2n + 2),
    .box-banner-index:nth-child(2n + 2) {
        padding-left: 5px;
    }

    .slider-main .owl-theme .owl-controls {
        right: 20px;
        bottom: 5px;
    }
    /* Css Collection Filter */
    #collection .group-collection {
        margin-bottom: 0;
    }

    .box-product-lists {
        margin-top: 15px;
    }

    .group-collection[aria-expanded=false] .filter-box {
        display: block;
    }

    .group-collection[aria-expanded=true] .filter-box {
        display: none;
    }

    .group-collection[aria-expanded=true] .dropdown-filter .fa-minus:before {
        content: "\f067";
    }

    .group-collection[aria-expanded=false] .dropdown-filter .fa-minus:before {
        content: "\f068";
    }
}

@media ( min-width: 768px ) {
    /* Css Chung */


    .collection-description {
        overflow: hidden;
    }

    .btn-effect {
        padding: 10px 50px;
        border: 1px solid #74140d;
        background: #fff;
    }

    .collection-description.open {
        height: auto;
        max-height: initial;
    }

    .header-navigate .breadcrumb li:last-child:before {
        padding: 0;
    }

    .information-product .product-title h1 {
        font-size: 20px;
        margin: 0 0 10px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
    }

    .information-product .product-sku-date .product-sku {
        font-size: 12px;
        font-weight: bold;
    }

    .information-product .product-sku-date .product-date {
        font-size: 12px;
        font-style: italic;
    }

    .product-sku-date {
        text-align: center;
    }

    .information-product .infor-product-variant {
        padding: 10px 0;
    }

        .information-product .infor-product-variant li.location {
            margin-bottom: 10px;
        }

        .information-product .infor-product-variant li:not(.location) {
            position: relative;
            padding: 5px 10px 5px 10px;
            margin-bottom: 1px;
            background: rgba(0,0,0,.08);
        }

            .information-product .infor-product-variant li:not(.location):nth-child(2n + 1) {
                background: rgba(0,0,0,.04);
            }

        .information-product .infor-product-variant .fa-map-marker {
            font-size: 15px;
            color: #0099ff;
            position: absolute;
            left: 0px;
        }

        .information-product .infor-product-variant .title-variant {
            color: #0099ff;
            font-weight: normal;
            font-size: 13px;
            position: absolute;
            left: 20px;
        }

        .information-product .infor-product-variant .area .title-variant {
            left: 15px;
        }

        .information-product .infor-product-variant .content-variant {
            font-size: 13px;
            font-weight: bold;
            color: #333;
            text-align: right;
            padding-left: 35px;
        }



    .information-product .product-price span {
        color: #d60808;
        font-size: 30px;
        margin-right: 10px;
    }

    .information-product .product-price del {
        color: #7d7d7d;
        font-size: 16px;
    }
    /* Style variant checkbox */
    .style-variant-template {
        display: inline-block;
        vertical-align: middle;
    }

        .style-variant-template input {
            display: none;
        }

        .style-variant-template li {
            float: left;
            margin-right: 5px;
        }

            .style-variant-template li span {
                display: block;
                padding: 2px 4px;
                background: #fff;
                cursor: pointer;
                border: 1px solid #ccc;
                font-weight: 400;
            }

        .style-variant-template input[type=radio]:checked + span {
            border: 1px solid #D87C7C;
            background: url(//theme.hstatic.net/1000089151/1000738647/14/bg-variant-checked.png?v=242) no-repeat right bottom #fff;
        }
        /* End variant checkbox */
        .style-variant-template span img {
            margin-right: 3px;
        }
}
.variant-style .select-wrapper .input-group button {
    font-size: 13px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.variant-style input#quantity {
    background: #FFF;
    font-weight: 600;
    padding: 0;
    text-align: center;
    width: 70px;
    height: 31px;
    border: 1px solid #E5E5E5;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    float: left;
    margin-top: 14px;
    -webkit-appearance: none;
}

.variant-style input.qty-btn {
    float: left;
    background: #EEE;
    border: solid 1px #E5E5E5;
    cursor: pointer;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    width: 32px;
    text-align: center;
    border-radius: 0;
}


.variant-style .selector-wrapper > label {
    vertical-align: middle;
    font-weight: normal;
    margin-right: 10px;
}
/* Dropdown variant */
.variant-style .selector-wrapper .custom-dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid #e7e7e7;
}

    .variant-style .selector-wrapper .custom-dropdown:after {
        content: '<>';
        font: 12px "Consolas", monospace;
        color: #aaa;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 8px;
        top: 8px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .variant-style .selector-wrapper .custom-dropdown:before {
        content: '';
        right: 0px;
        top: 0px;
        width: 30px;
        height: 32px;
        background: #f8f8f8;
        position: absolute;
        pointer-events: none;
        display: block;
        border-left: 1px solid #e7e7e7;
    }

    .variant-style .selector-wrapper .custom-dropdown .custom-dropdown-select {
        height: 32px;
        text-indent: 10px;
        margin: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #fff;
        color: #888;
        border: none;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        min-width: 150px;
    }
.information-product .tag-wrapper li {
    display: inline-block;
    list-style-type: none;
}

    .information-product .tag-wrapper li a {
        display: inline-block;
        background: #e2e2e2;
        border-left: 3px solid;
        border-color: #3bafda;
        color: #333;
        padding: 4px 9px;
        position: relative;
        margin: 5px;
        font-size: 12px;
    }

        .information-product .tag-wrapper li a:before {
            left: 0;
            top: 8px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-left-color: #3bafda;
            border-width: 4px;
        }

#description, #comment, #product-review {
    margin-bottom: 15px;
}

.variant-style .btn-style-add, .variant-style .btn-style-buynow {
    border-radius: 3px;
    margin-right: 15px;
    //padding-left: 45px;
    border: none;
    position: relative;
    display: inline-block;
    background: #fff0f0;
    font-weight: 500;
    height: 48px;
    width: 160px;
    border: 1px solid red;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.btn-style-add span {
    color: red;
}

.variant-style .btn-style-add .icon_cart_btn, .variant-style .btn-style-buynow .icon_cart_btn {
    background: url('icon_cart_btn.png') center center no-repeat #921323;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px 0 0 3px;
}

.variant-style .btn-style-buynow {
    background: #921323;
    margin-right: 0;
}

    .variant-style .btn-style-buynow .icon_cart_btn {
        background: url('icon-checkout.png') center center no-repeat #921323;
    }

.variant-style button.btn-style-add:hover {
    background: #fff0f0;
    color: #ffffff;
}
.variant-style .select-wrapper .input-group button {
    font-size: 13px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:13px;
}

.information-product  {
    color: #7d7d7d;
    font-size: 16px;
}
.product-price.del {
    color: #7d7d7d;
    padding-top:17px;
    padding-right:8px;
    font-size: 16px;
}
.information-product p.product-price {
    color: #d60808 !important;
    font-size: 30px !important;
    margin-right: 10px !important;
}
#zoomContainer {
    position: relative;
    z-index: 9999; /* Adjust as needed */
}
.zoom {
    position: relative;
}
.swiper {
    width: 100%;
    max-width: 800px; /* Điều chỉnh theo nhu cầu */
    overflow: hidden;
}