

h1 {
    font-size: 2em;
    color: #0056b3;
}

p {
    color:black !important;
    margin-bottom: 1em;
}

ul, ol {
    list-style-type:disc   !important;
    margin-left: 20px !important;
}

table {
    width: 100% !important;
    border-collapse: collapse !important;
}

table, th, td {
    border: 1px solid #ddd !important;
    padding: 8px !important;
}
/* Thêm các style khác cho in đậm, in nghiêng, ảnh, liên kết, v.v. */
