/* Custom styles or overrides if needed */
body {
    font-family: 'Inter', sans-serif;
}
.container {
    width: 100%; /* Đảm bảo container chiếm 100% chiều rộng của phần tử cha */
    margin-left: auto; /* Căn giữa tự động */
    margin-right: auto; /* Căn giữa tự động */
}

/* ... các lớp khác như .px-4 cũng rất quan trọng cho mobile responsiveness ... */
.px-4 {
    padding-left: 1rem; /* 16px padding bên trái */
    padding-right: 1rem; /* 16px padding bên phải */
}
.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
}

.text-transparent {
    color: transparent;
}
.to-gold-600 {
    --tw-gradient-to: #d97706 var(--tw-gradient-to-position) !important;
}
.to-gold-400 {
    --tw-gradient-to: #fbbf24 var(--tw-gradient-to-position) !important;
}
.fill-gold-400 {
    fill: #fbbf24;
}
.text-gold-400 {
    --tw-text-opacity: 1;
    color: rgb(251 191 36 / var(--tw-text-opacity, 1));
}
/* Bootstrap-like Container styles */
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;

}
.add-payment{

}
.essence-btn {
    background-color: #036c4f !important;
    border-radius:8px !important;
}
@media (min-width: 1400px) {
    .container {
        max-width: 1400px !important;
    }
}
@media (max-width: 768px) {
    .container {
        padding-right: 4px;
        padding-left: 4px;
    }
}