@using Project.ViewModels.Posts
@model PostViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["Image"] = ViewBag.Image;
    ViewData["Description"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="/js/active.js"></script>


}
<div class="breadcumb_area bg-img mt-[120px]" style="background-image: url(/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Tin tức</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="latest-blog" class="post-grid padding-large m-2">
    <div class="container" style="max-width:800px">
        <div class="row ">
           <div class="col-12">
                <h2>@Model.Title</h2>
           </div>
            <br/>
            <p>Ngày : @Model.CreateTime.ToString("dd-MM-YYYY")</p>
        </div>
        <div class="row">
            @Html.Raw(Model.Content)
        </div>
        <div class="d-flex justify-content-end">
            <strong>@Model.Author</strong>
        </div>
    </div>
</section>