@{
    ViewData["Title"] = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script src="~/lib/knockout-3.5.1.js"></script>
    <script src="~/lib/knockout-3.5.1.debug.js"></script>
    <script src="~/lib/knockout.mapping-latest.js"></script>
    <script src="~/js/order.js"></script>
    <script src="/js/active.js"></script>

}
@section Css {
    <link href="~/css/order.css" rel="stylesheet" />
}

<div class="breadcumb_area bg-img mt-[120px]" style="background-image: url(/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Thông tin giao hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="domain" value="@ViewBag.Domain" class="hide" />
<div class=" mb-[30px] ">
    <div class="container">

        <div class="grid grid-cols-2 max-sm:grid-cols-1 gap-8">
            <div class="">
                <form class="section" id="myForm">
                    
                    <div class="section-content section-customer-information no-mb">

                        <input name="utf8" type="hidden" value="✓">
                        <div class="inventory_location_data">


                        </div>


                        @* <p class="section-content-text">
                            Bạn đã có tài khoản?
                            <a href="/dang-nhap">Đăng nhập</a>
                        </p> *@


                        <div class="fieldset">


                            <div class="field   field-show-floating-label">
                                <div class="field-input-wrapper">
                                    <label class="field-label" for="billing_address_full_name">Họ và tên</label>
                                    <input placeholder="Họ và tên" autocapitalize="off" spellcheck="false" class="field-input" size="30" type="text" id="billing_address_full_name" name="full_name" autocomplete="false">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="field  field-two-thirds  field-show-floating-label">
                                        <div class="field-input-wrapper">
                                            <label class="field-label" for="checkout_user_email">Email</label>
                                            <input autocomplete="false" placeholder="Email" autocapitalize="off" spellcheck="false" class="field-input" size="30" type="email" id="checkout_user_email" name="email">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-5">

                                    <div class="field field-required field-third  field-show-floating-label">
                                        <div class="field-input-wrapper">
                                            <label class="field-label" for="billing_address_phone">Số điện thoại</label>
                                            <input autocomplete="false" placeholder="Số điện thoại" autocapitalize="off" spellcheck="false" class="field-input" size="30" maxlength="15" type="tel" id="billing_address_phone" name="phone" />
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="section-content">
                        <div class="fieldset">

                            <div autocomplete="off" id="form_update_shipping_method" class="field default" accept-charset="UTF-8" method="post">
                                <input name="utf8" type="hidden" value="✓">
                                <div class="content-box mt0">

                                    <div id="form_update_location_customer_shipping" class="order-checkout__loading radio-wrapper content-box-row content-box-row-padding content-box-row-secondary " for="customer_pick_at_location_false">
                                        <input name="utf8" type="hidden" value="✓">
                                        <div class="order-checkout__loading--box">
                                            <div class="order-checkout__loading--circle"></div>
                                        </div>

                                        <div class="field   field-show-floating-label">
                                            <div class="field-input-wrapper">
                                                <label class="field-label" for="billing_address_address1">Địa chỉ</label>
                                                <input placeholder="Địa chỉ" autocapitalize="off" spellcheck="false" class="field-input" size="30" type="text" id="billing_address_address1" name="address">
                                            </div>

                                        </div>




                                      <div class="row">
                                            <div class="field field-show-floating-label  field-half col-md-7">
                                                <div class="field-input-wrapper field-input-wrapper-select">
                                                    <label class="field-label" > Tỉnh / thành  </label>
                                                    <select  class="field-input " id="provinces" name="customer_shipping_province">
                                                        <option value="">

                                                            Chọn tỉnh / thành
                                                        </option>




                                                    </select>
                                                </div>


                                            </div>


                                            <div class="field field-show-floating-label  field-half col-md-5 ">
                                                <div class="field-input-wrapper field-input-wrapper-select">
                                                    <label class="field-label" for="customer_shipping_district">Quận / huyện</label>
                                                    <select class="field-input" name="customer_shipping_district">
                                                        <option data-code="" value="">Chọn quận / huyện</option>


                                                      


                                                    </select>
                                                </div>

                                            </div>
                                      </div>



                                        <div id="div_location_country_not_vietnam" class="section-customer-information " style="display: none;">
                                            <div class="field field-two-thirds">
                                                <div class="field-input-wrapper">
                                                    <label class="field-label" for="billing_address_city">Thành phố</label>
                                                    <input placeholder="Thành phố" autocapitalize="off" spellcheck="false" class="field-input" size="30" type="text" id="billing_address_city" name="billing_address[city]" value="">
                                                </div>
                                            </div>
                                            <div class="field field-third">
                                                <div class="field-input-wrapper">
                                                    <label class="field-label" for="billing_address_zip">Mã bưu chính</label>
                                                    <input placeholder="Mã bưu chính" autocapitalize="off" spellcheck="false" class="field-input" size="30" type="text" id="billing_address_zip" name="billing_address[zip]" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div id="change_pick_location_or_shipping">
                        <div class="step-footer" id="step-footer-checkout">



                            <a class="step-footer-previous-link" href="/gio-hang">
                                Giỏ hàng

                            </a>
                            <div id="form_next_step" accept-charset="UTF-8" method="post">
                                <input name="utf8" type="hidden" value="✓">
                                <button type="submit" class="step-footer-continue-btn btn btn essence-btn">
                                    <span class="btn-content">Thanh toán</span>
                                    <i class="btn-spinner icon icon-button-spinner"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div>
                <div class="order-summary-sections">
                    <div class="order-summary-section order-summary-section-product-list" data-order-summary-section="line-items">
                        <div class="product-table">
                            <div data-bind="foreach:$root.data">

                                <div class="product row" data-product-id="1006340273" data-variant-id="1014979569">
                                    <div class="product-image col-md-4 col-sm-12">
                                        <div class="product-thumbnail">
                                            <div class="product-thumbnail-wrapper">
                                                <img class="product-thumbnail-image" alt="Vòng Tay Agate Nâu Sần" data-bind="attr:{'src':$data.Detail.Image()}">
                                            </div>
                                            <span class="product-thumbnail-quantity" aria-hidden="true" data-bind="text:Quantity">8</span>
                                        </div>
                                    </div>
                                    <div class="product-description  col-md-4  col-sm-12">
                                        <span class="product-description-name order-summary-emphasis" data-bind="text: $data.Detail.Title()">Vòng Tay Agate Nâu Sần</span>

                                            <div data-bind="foreach:$data.Detail.ProductAttributes()">
                                                <!--ko if:$data.AttributeId() == $parent.AttributeId()-->
                                                <span class="product-description-variant order-summary-small-text" data-bind="text: Name() + ' '+Description()"></span>
                                                <!--/ko-->
                                            </div>
                                        <div class="product-quantity visually-hidden  col-3" data-bind="text: Quantity">8</div>

                                    </div>
                                    <div class="product-price  col-md-4  col-sm-12">
                                        <span class="order-summary-emphasis money" data-bind="text:$data.Detail.LastSellingPrice">2,800,000₫</span>
                                    </div>
                                </div>


                            </div>
                        </div>
                      
                    </div>

                    <div class="order-summary-section order-summary-section-discount" data-order-summary-section="discount">
                        <form id="form_discount_add" accept-charset="UTF-8" method="post">
                            <input name="utf8" type="hidden" value="✓">
                            <div class="fieldset">
                                <div class="field  ">
                                    <div class="field-input-btn-wrapper">
                                        <div class="field-input-wrapper">
                                            <input placeholder="Mã giảm giá" class="field-input" data-discount-field="true" autocomplete="false" autocapitalize="off" spellcheck="false" size="30" type="text" id="discount.code" name="discount.code" value="">
                                        </div>
                                        <button type="submit" class="field-input-btn btn btn-default btn-disabled essence-btn">
                                            <span class="btn-content">Sử dụng</span>
                                            <i class="btn-spinner icon icon-button-spinner"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>



                    <div class="order-summary-section order-summary-section-total-lines payment-lines" data-order-summary-section="payment-lines">
                        <table class="total-line-table">
                            <thead>
                                <tr>
                                    <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                                    <th scope="col"><span class="visually-hidden">Giá</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="total-line total-line-subtotal">
                                    <td class="total-line-name">Tạm tính</td>
                                    <td class="total-line-price">
                                        <span class="order-summary-emphasis money" data-checkout-subtotal-price-target="540000000" data-bind="text:$root.total">
                                            5,400,000₫
                                        </span>
                                    </td>
                                </tr>


                                <tr class="total-line total-line-shipping">
                                    <td class="total-line-name">Phí vận chuyển</td>
                                    <td class="total-line-price">
                                        <span class="order-summary-emphasis" data-checkout-total-shipping-target="4000000">

                                            —

                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="total-line-table-footer mb-[16px]">
                                <tr class="total-line">
                                    <td class="total-line-name payment-due-label">
                                        <span class="payment-due-label-total text-[16px]">Tổng cộng</span>
                                    </td>
                                    <td class="total-line-name payment-due">
                                        <span class="payment-due-currency">VND</span>
                                        <span class="payment-due-price money" data-checkout-payment-due-target="540000000" data-bind="text:$root.total">
                                            5,400,000₫
                                        </span>
                                        <span class="checkout_version" display:none="" data_checkout_version="32">
                                        </span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

